*{
margin: 0
}

html, body {
	font-family: Arial;
	font-size: .8em;
	background-color: white;
	position: relative;
	margin: auto;
	height: 100%;
}

.header{ 
	width: 100%;
	height: 10%;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.3em;
}

.header ul{
	list-style-type: none;
	margin: auto;
}

.header ul li{
	display: inline-block;
	padding: .6em;
	padding-top: 1em;
	float: right;
	color: #4a4a4a;
}
li a:link{
	color: #4a4a4a;
	text-decoration: none}
li a:hover{
	text-decoration: underline;
	color: black;
}
li a:visited{
	color: #4a4a4a;
	text-decoration: none}
	
a table{
	width: 1.6em;
	height: 1.4em;
	margin-top: -.2em;
}

tr{
	height: .32em;
}

table tr td{
	background-color: grey;
	width: .35em;
}

#sign_in{
	background-color:  #4285f4;
	padding: .4em .8em .4em .8em;
	color: white;
	font-weight: bold;
	outline: #4a4a4a solid .03em
}

#sign_in:hover{
	text-decoration: none;
	outline: #c9c9c9;
	outline: #4a4a4a solid .09em
}

img.logo{
	display: block;
	margin: 5em auto 1em auto;
	width: 30em;
	}

.search{
	display: inline-block;
	margin: 2em auto 0em auto;
	width: 100%;
}

.search div{
	margin: 5em auto 1.4em auto;
	height: 2.8em;
	width: 59.85em;
}

.search_buttons{
	display: block;
	width: 27em;
	margin: auto;
	color: #4a4a4a;
	font-weight: bold;
	font-size: .8em;
}

form{height: 100%}

input[type=search]{
	border-radius:0;
	border: .1em solid #c9c9c9;
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
}

input[type=search]:focus{
	outline: #66ccff solid .09em;
}

input[type=search]:hover{
	outline: #4a4a4a solid .09em;
}



ul.search_buttons li{
	padding: .8em;
	display: inline-block;
	background-color: #f2f2f2;
	margin-right: 0.6em;
	margin-left: 0.6em;
	border: .2em solid #E4E4E4;
}

ul.search_buttons li:hover{
	border-bottom: .26em solid #E4E4E4;
	border-right: .26em solid #E4E4E4;
}

#spacer{
	height: auto;
	min-height:  45%;
}

	
.footer{ 
	display: block;
	position: relative;
	width: 100%;
	height: 3em;
	margin-top: -2em;
	margin-bottom:0;
	background-color: #f2f2f2;
	border: .2em solid #E4E4E4;
	padding-bottom: 1.5em;
}

.footer ul{
	clear: both;
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0 2% 0 2%;
	height: 100%;
}

ul.l_foot_button{
	width: 37%;	
}

ul.r_foot_button{
	width: 54%;	
}

.footer ul li{
	font-size: 1.3em;
	height: 100%;
	display: inline;
	padding: 1.7% 2.5% 0 2.5%;
	float: right;
	color: #4a4a4a;
}

ul.r_foot_button li{
	float: right;
}

ul.l_foot_button li{
	float: left;
}